body {
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

a {
  color: white;
}

input {
  margin: 0 1%;
  user-select: none;
}

button {
  user-select: none;
}

#map {
  width: 100%;
  height: auto;
  text-align: center;
  align-content: center;
}

.contain {
  width: 100%;
  text-align: center;
}

#example {
  user-select: none;
  border-color: black;
  border-style: groove;
  border-width: 0.1px;
  /*  font-size: 16px;*/
}

#fontValue {
  width: 2em;
}

#svg {
  /*  width: 90%;*/
  border-color: black;
  border-style: groove;
  border-width: 1px;
  /*  margin: 2% 5% 2% 5%;*/
}

.inherit {
  width: 100%;
}

footer {
  text-align: center;
  width: 100%;
  font-size: 10px;
  color: grey;
}

footer a {
  color: grey;
  text-decoration: none;
}

#randValue {
  width: 2em;
}

header {
  padding: 2% 5% 0% 5%;
  margin-bottom: 2%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 20%;
  display: flex;
}

rect {
  border: 0;
  box-shadow: none;
  margin-bottom: -1px;
}

h1{
  width: 100%;
  height: 20%;
  text-align: center;
}

#noiseValue {
  width: 2em;
}

.input-val {
  width: 100%;
  text-align: left;
  margin: 0.2% 0 0.2% 1%;
  padding: 0;
}

.input-contain {
  width: 100%;
  text-align: center;
  display: flex;
  margin: 1%;
}

.left-contain {
  width: 50%;
  text-align: right;
  display: flex;
}

.right-contain {
  width: 40%;
  text-align: left;
}

.half {
  width: 50%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.state-text {
  margin: 0;
  padding: 0;
}

.state-val {
  margin: 0;
  padding: 0;
}

.input-state-text {
  width: 85%;
  text-align: right;
  margin: 0.2% 1% 0.2% 0;
  padding: 0;
}

.input-state-val {
  width: 10%;
  text-align: left;
  margin: 0.2% 0 0.2% 3%;
  padding: 0;
}

#colorText {
  width: 4em;
}

.download-select {
  text-align: center;
  margin: 2% 0;
}

.sep {
  margin: 0 1%;
}

.progress {
  display: none;
  /* display: flex; */
  width: 20%;
  height: 10%;
  /* background-color: aqua; */
  text-align: center;
  justify-content: center;
}

.inactive {
  height: 0;
  display: flex;
}

.active {
  height: 10%;
  display: flex;
}

.dots {
  user-select: none;
  /* margin: 3%; */
  width: 5%;
  height: 2%;
  background-color: azure;
  border-radius: 50%;
}

.active .dots {
  animation: dotmove 1s cubic-bezier(.37,.5,.75,.85) infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.active .dots:nth-child(1) {
  animation-delay: 0s;
}
.active .dots:nth-child(2) {
  animation-delay: 0.2s;
}
.active .dots:nth-child(3) {
  animation-delay: 0.4s;
}
.active .dots:nth-child(4) {
  animation-delay: 0.6s;
}
.active .dots:nth-child(5) {
  animation-delay: 0.8s;
}
.active .dots:nth-child(6) {
  animation-delay: 1s;
}

@keyframes dotmove {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 10%;
  }
}

